# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log

# Virtual Environment
venv/
env/
ENV/
env39/
.env
.env.*

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database & Data
*.db
*.sqlite*
absensi_backup.db
desktop_app/data_wajah/
desktop_app/log_absensi/

# Logs
logs/
dashboard_web/logs/

# Jupyter Notebook
.ipynb_checkpoints

# PyTest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Flutter iOS/Android
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
android/.gradle/
android/app/build/
android/.idea/
android/local.properties

# Misc
temp/
*.tmp
*.temp

# Docker
.docker/
postgres_data/
pgadmin_data/

# Flask
instance/
.webassets-cache